.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: white;
    transition: .1s;
}

form input:active {
    transform: translateY(10%);
    box-shadow: 0 0 8px black;
}