nav {
    height: 100%;
}

ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

a {
    display: block;
    padding: 10px;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover.navigationLink {
    border-left: 6px solid rgb(0, 0, 0);
}

a.active.navigationLink  {
    
    border-left: 6px solid yellow;
}

.products-item:hover {
    border-left: 6px solid black;
}

