* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(45deg,rgb(54, 104, 89), rgb(74, 74, 138));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 90vw;
  min-width: 300px;
  max-width: 500px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(97, 97, 97);
  border-radius: 10px;
  box-shadow: 0 0 8px;
  gap: 20px;
}

.inputsWrapper div {
  display: flex;
  line-height: 30px;
  gap: 10px;
}

input {
  background: linear-gradient(45deg, rgb(0, 0, 0) 60%, rgb(0, 0, 0)) padding-box,
    linear-gradient(45deg, rgb(0, 0, 0) 50%, rgb(0, 0, 0)) border-box;
  color: white;
  box-shadow: 0 0 3px 1px rgb(0, 0, 0);
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: .2s;
}

button {
  color: white;
  background: linear-gradient(45deg, rgb(0, 0, 0) 60%, rgb(0, 0, 0)) padding-box,
      linear-gradient(45deg, rgb(0, 0, 0) 50%, rgb(0, 0, 0)) border-box;
}

button:active {
  color: black;
  background: linear-gradient(45deg, rgb(128, 128, 128) 60%, rgb(124, 124, 124)) padding-box,
      linear-gradient(45deg, rgb(131, 131, 131) 50%, rgb(97, 97, 97)) border-box;
}

input:focus {
  outline: none;
  box-shadow: 0 0 6px white;
}

.inputCheckbox,
.inputCheckbox:focus {
  box-shadow: none;
}

.textInput,
.dateInput {
  height: 30px;
}

.addTaskBtn {
  align-self: center;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  transition: .1s;
  background-color: white;
  box-shadow: 0 1px 5px 1px black;
}

.addTaskBtn:active {
  transform: translateY(10%);
  box-shadow: 0 0 5px 3px rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
}

.tasksWrapper {
  max-width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px;
}

.singleTaskWrapper {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.taskToDoText {
  max-width: 65%;
  overflow: hidden;
}


.taskDoneBtn {
  width: 130px;
  height: 25px;
  border-radius: 5px;
  border: none;
  transition: .1s;
  background-color: white;
  box-shadow: 0 1px 5px 1px black;
}

.taskDoneBtn:active {
  transform: translateY(10%);
  box-shadow: 0 0 5px 3px rgb(0, 0, 0);
  font-weight: 600;
  font-size: 14px;
}


.taskDoneWrapper {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px;
}